
# Directory Ignores ##########################################################
guide/book
tests/_log
target
vendor
.idea

# File Ignores ###############################################################
**/*.rs.bk
Cargo.lock
.DS_Store
.vscode
